<h2>Simone Vellei</h2>

<i class="fas fa-code"></i> Creative and people-oriented developer with project management skills.</br>
<i class="fab fa-connectdevelop"></i> Advanced knowledge in engineering and developing GNU/Linux IoT devices.</br>
<i class="fas fa-cloud-upload-alt"></i> Growing experience in designing and developing backend microservices in Golang.
<h3> Hobby &amp; Fun </h3>

<i class="fas fa-hiking"></i> <i class="fas fa-tree"></i> &nbsp;&nbsp;<a href="https://instagram.com/graspthebranch">Grasp The Branch - Outdoor &amp; hiking</a><br>
<i class="fas fa-bacon"></i> <i class="fas fa-utensils"></i> &nbsp;&nbsp;<a href="https://instagram.com/simone_vellei">Kitchen Rambler - BBQ &amp; gourmet</a><br>
<i class="fas fa-microphone-alt"></i> <i class="fas fa-guitar"></i> &nbsp;&nbsp;<a href="https://youtube.com/playlist?list=PLXzyJPMM2ax6tXKZ0oUc1G3pt-o384ZHZ">Music - Voce &amp; guitar</a><br>
